version: "3.9"

services:

  product-service:
    build:
      context: ./product-service
    container_name: product-service

    ports:
      - "8081:8081"

    networks:
      - micro-net


  order-service:
    build:
      context: ./order-service
    container_name: order-service

    ports:
      - "8082:8082"

    depends_on:
      - product-service

    networks:
      - micro-net


networks:
  micro-net:
    driver: bridge